{% extends 'base.html' %}
{% load static %}
{% block style%}
{% endblock  %}
{% block  content%}

<h5>테스트</h5>

<script>
var lng= new Array();
var lat= new Array();
</script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{% for store in stores %}

<script>
var addr = "{{ store.addr }}"
axios.get('https://dapi.kakao.com/v2/local/search/address.json', {
          params: {
          query: addr,
        },
        headers: {
          'Authorization': 'KakaoAK b8d8fe78bf49048b590334177f6ae431'
        }
      }).then(function (res) {

	lng.push(res.data.documents[0].x)
	lat.push(res.data.documents[0].y)
    console.log(lng)
    console.log(lat)
})
</script>
{% endfor %}

<script>
function toCSV() {
  var lnglat = new Array();
  for(var i = 0 ; i<Object.keys(lng).length; i++){
    var temp = [lng[i],lat[i]].join(',')
    if(i == Object.keys(lng).length){
      lnglat.push(temp)
    }else{
      lnglat.push(temp + "\n")
    }
  }
  console.log(lnglat)

  const NAME = "addrToLnglat.csv"
  const CONTENT = ['index', 'lng', 'lat'].join(',') + "\n" + lnglat;
  (function(){
  const BLOB = new Blob(
    [CONTENT],
    {type:'text/csv;charset=EUC-KR;'});
    if(navigator.appVersion.toString().indexOf('NET')>0){
      window.navigator.msSaveBlob(BLOB, FILE_NAME);
    }else{
      const ENCODED_URL = URL.createObjectURL(BLOB);
      const LINK = document.createElement('a');

      LINK.setAttribute('href', ENCODED_URL);
      LINK.setAttribute('download', NAME);
      LINK.click();
    }
    })();
}
setTimeout(toCSV, 2000);
</script>

{% endblock  %}