{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block style %}
<style>

</style>
{% endblock  %}
{% block content %}

<br><br>
    <h5 style='text-align:center;'>로그인</h5>  
<br><br>

<form action='' method='POST' enctype='multipart/form-data'>
    {% csrf_token %}
    {% bootstrap_form form %}
    <br>
    <div style='text-align:center'>
        <button class='btn btn-success'>로그인</button>
    </div>
</form>
<br>
<div style='text-align:center'>
    {% comment %} <a class="col-4"></a> {% endcomment %}
    <a href="{% url 'accounts:signup' %}">회원가입하기(Click)</a>
    {% comment %} <a class="col-4"></a> {% endcomment %}
</div>
{% endblock %}