{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block style %}
<style>

</style>

{% endblock  %}
{% block content %}
  <!--20200825 semi update(회원정보수정)-->
    <br>
    <h5 style='text-align:center;'>회원정보수정</h5>
    <br>
    <form action="" method="POST"  class="d-inline" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
                <br><br>
        <div style='text-align:center'>
            <button class="btn btn-outline-info" type="reset">Reset</button>&nbsp;&nbsp;
            <button class="btn btn-outline-info">Submit</button>        
        </div>
    </form>
      
{% endblock  %}